<template>
	<v-app class="login">
		<v-card>
			<v-toolbar>
				<router-link to="/">
					<v-img
						lazy-src="https://picsum.photos/id/11/10/6"
						max-height="40"
						max-width="40"
						src="../assets/ava-header.png"
					></v-img>
				</router-link>
				<v-toolbar-title class="header-name hidden-xs-only">
					INSIGHT DATA MASKING</v-toolbar-title
				>

				<v-toolbar-items>
					<v-tabs align-with-title>
						<v-tab v-for="tab of tabs" :key="tab.id" :to="tab.route" exact>
							{{ tab.name }}
						</v-tab>
						<v-tab-item v-for="tab of tabs" :key="tab.id" :value="tab.route">
							<router-view></router-view>
						</v-tab-item>
					</v-tabs>
				</v-toolbar-items>

				<v-spacer></v-spacer>
				<span>
					<v-icon class="help-box">{{ icons.mdiHelpCircleOutline }}</v-icon>
				</span>
				<v-icon prepend-inner-icon="mdi-email"> </v-icon>
				<v-icon>{{ icons.mdiAccount }}</v-icon>
				<div class="shrink" @click="expand = !expand">
					<div class="name">{{ user.fullName }}</div>

					<v-expand-transition>
						<v-card v-show="expand" height="30" width="80" class="mx-auto">
							<span class="name" @click="logout">Log Out</span>
						</v-card>
					</v-expand-transition>
				</div>

				<v-img
					max-height="40"
					max-width="40"
					src="../assets/flat.png"
					class="img-flat hidden-xs-only"
					align-stretch
				></v-img>
			</v-toolbar>
		</v-card>
		<AddProject />
		<Project />
	</v-app>
</template>

<script>
import { users } from '../fakeData/user';
import { taskList } from '../fakeData/task';

if (window.localStorage.getItem('users') === null || undefined) {
	window.localStorage.setItem('users', JSON.stringify(users));
}

if (window.localStorage.getItem('taskList') === null || undefined) {
	window.localStorage.setItem('taskList', JSON.stringify(taskList));
}
import {
	mdiAccount,
	mdiPencil,
	mdiShareVariant,
	mdiDelete,
	mdiHelpCircleOutline
} from '@mdi/js';

import { mapState } from 'vuex';
import AddProject from '../components/features/Project/AddProject.vue';
import Project from '@/components/features/Project/Project.vue';
export default {
	name: 'UserView',
	components: { AddProject, Project },
	computed: {
		...mapState(['user'])
	},
	mounted() {
		if (window.localStorage.getItem('@user') === null) {
			this.$router.push({ path: '/login' });
		} else {
			this.$store.dispatch('loadUser');
		}
	},
	data: () => ({
		icons: {
			mdiAccount,
			mdiPencil,
			mdiShareVariant,
			mdiDelete,
			mdiHelpCircleOutline
		},
		tabs: [
			{ id: 1, name: 'Projects', route: `/` },
			{ id: 2, name: 'Templates', route: `/template` }
		],
		expand: false
	}),
	methods: {
		logout() {
			window.localStorage.removeItem('@user');
			window.localStorage.removeItem('isLoggedIn');
			this.$router.push({ path: '/login' });
		}
	}
};
</script>
<style>
.header-name {
	color: #505050;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
	margin-left: 10px;
}
.content {
	width: 100%;
}
.img-flat {
	margin-left: 10px;
}

.btn-text {
	text-decoration: none;
	color: #505050 !important;
	cursor: pointer;
	height: 0;
}
.login {
	height: 67vh;
}
.name {
	font-weight: 500;
	padding: 0 10px;
	cursor: pointer;
	max-width: 100px;
}
.help-box {
	margin-right: 25px;
}
</style>
