<template>
	<v-app class="login">
		<Header />
		<Login />
		<Footer />
	</v-app>
</template>

<script>
import { users } from '../fakeData/user';
import { taskList } from '../fakeData/task';

if (window.localStorage.getItem('users') === null || undefined) {
	window.localStorage.setItem('users', JSON.stringify(users));
}

if (window.localStorage.getItem('taskList') === null || undefined) {
	window.localStorage.setItem('taskList', JSON.stringify(taskList));
}
import Header from '../components/common/Header.vue';
import Footer from '../components/common/Footer.vue';
import Login from '../components/auth/Login.vue';
export default {
	name: 'LoginView',
	components: { Header, Footer, Login }
};
</script>
<style>
.login {
	height: 67vh;
}
</style>
