<template>
	<v-app class="login">
		<Header />
		<Register />
		<Footer />
	</v-app>
</template>

<script>
import Header from '../components/common/Header.vue';
import Footer from '../components/common/Footer.vue';
import Register from '../components/auth/Register.vue';
export default {
	name: 'RegisterView',
	components: { Header, Footer, Register }
};
</script>
<style>
.login {
	height: 67vh;
}
</style>
