<template>
	<v-container>
		<v-row align="flex-start" justify="center" dense>
			<v-col xs="6" sm="6">
				<v-card class="mx-auto" width="550">
					<v-card-text class="main">
						<v-form ref="form">
							<div class="shrink">
								<v-text-field
									v-model="project"
									ref="project"
									type="text"
									class="rounded-0"
									placeholder="Project Name"
									clearable
									@click="expand1 = !expand1"
									counter="100"
								></v-text-field>
								<v-expand-transition>
									<v-main v-show="expand1" height="200" class="mx-auto">
										<v-textarea
											v-model="projectDes"
											ref="projectDes"
											label="Project Description"
											auto-grow
											outlined
											rows="1"
											row-height="100"
											counter="500"
											type="text"
										></v-textarea>
										<p class="text-error">{{ errorMess }}</p>
										<div class="btn-addproject">
											<v-btn
												depressed
												right
												click.="(expand1 = !expand1)"
												class="btn-cancel"
												>Cancel</v-btn
											>
											<v-btn depressed color="primary" right @click="submit"
												>Create</v-btn
											>
										</div>
									</v-main>
								</v-expand-transition>
							</div>
						</v-form>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
export default {
	name: 'AddProject',
	components: {},
	data: () => ({
		expand1: false
	}),
	mounted() {
		this.$store.dispatch('loadUser');
		this.$store.dispatch('loadProject');
	},
	computed: {
		form() {
			return {
				projectDes: this.projectDes,
				project: this.project
			};
		}
	},
	methods: {
		submit() {
			const user = JSON.parse(window.localStorage.getItem('@user'));

			console.log(this.project);
			console.log(this.projectDes);

			const pushTaskToList = JSON.parse(
				window.localStorage.getItem('taskList')
			);

			pushTaskToList.push({
				taskName: this.project,
				taskDescription: this.projectDes,
				id: Math.floor(Math.random() * 100),
				userID: user?.id
			});

			console.log('pushTaskToList:', pushTaskToList);
			window.localStorage.setItem('taskList', JSON.stringify(pushTaskToList));
			this.$store.dispatch('loadProject');
		}
	}
};
</script>
<style>
.btn-text {
	text-decoration: none;
	color: #505050 !important;
	cursor: pointer;
	height: 0;
}
.name {
	font-weight: 500;
	padding: 0 10px;
	cursor: pointer;
}
.btn-addproject {
	text-align: right;
	margin-right: 20px;
	margin-top: 20px;
}
.btn-cancel {
	margin-right: 10px;
}
.main {
	margin-top: 30px;
}
.text-error {
	color: red;
	opacity: 0.8;
}
</style>
