<template>
	<v-container class="my-5">
		<v-row align="center" justify="center" dense>
			<div class="head-project">
				<span class="head-title">All Projects</span>
				<span>
					<v-icon>{{ icons.mdiViewList }}</v-icon>
				</span>
			</div>
		</v-row>
		<v-container>
			<v-row>
				<div
					cols="12"
					sm="4"
					md="2"
					v-for="(item, index) in project"
					v-bind:key="item.taskName"
				>
					<v-card class="pa-3 main-project" v-if="item.userID === user.id">
						<v-layout row wrap>
							<v-flex>
								<div class="project-block-name black--text">
									<div>{{ item.taskName }}</div>
									<v-dialog v-model="dialog1" persistent max-width="350">
										<template v-slot:activator="{ on, attrs }">
											<div>
												<v-icon
													class="btn-duplicate"
													color="blue"
													v-bind="attrs"
													v-on="on"
													>{{ icons.mdiContentCopy }}</v-icon
												>
											</div>
										</template>
										<v-card>
											<v-card-title class="text-h5"> Confirm </v-card-title>
											<v-card-text
												>Project {{ item.taskName }} is going to be copied. Do
												you want to continue?</v-card-text
											>
											<v-card-actions>
												<v-spacer></v-spacer>
												<v-btn
													color="blacl darken-1"
													text
													@click="dialog1 = false"
												>
													Cancel
												</v-btn>
												<v-btn
													color="green darken-1"
													text
													v-on:click.prevent="duplicate(item)"
													@click="dialog1 = false"
												>
													Accept
												</v-btn>
											</v-card-actions>
										</v-card>
									</v-dialog>
								</div>
								<p class="project-des">{{ item.taskDescription }}</p>
								<v-dialog v-model="dialog" persistent max-width="350">
									<template v-slot:activator="{ on, attrs }">
										<v-icon
											class="btn-delete"
											color="red"
											v-bind="attrs"
											v-on="on"
											>{{ icons.mdiDelete }}</v-icon
										>
									</template>
									<v-card>
										<v-card-title class="text-h5"> Confirm </v-card-title>
										<v-card-text
											>Project {{ item.taskName }} is going to be removed. Are
											you sure?</v-card-text
										>
										<v-card-actions>
											<v-spacer></v-spacer>
											<v-btn
												color="blacl darken-1"
												text
												@click="dialog = false"
											>
												Cancel
											</v-btn>
											<v-btn
												color="red darken-1"
												text
												v-on:click.prevent="remove(index)"
												@click="dialog = false"
											>
												Delete
											</v-btn>
										</v-card-actions>
									</v-card>
								</v-dialog>
							</v-flex>
						</v-layout>
					</v-card>
				</div>
			</v-row>
		</v-container>
	</v-container>
</template>

<script>
import { mapState } from 'vuex';
import { mdiViewList, mdiDelete, mdiContentCopy } from '@mdi/js';

export default {
	name: 'Project',
	components: {},
	computed: {
		form() {
			return {
				projectDes: this.projectDes,
				project: this.project
			};
		},
		...mapState(['user']),
		...mapState(['project'])
	},
	data: () => ({
		icons: {
			mdiViewList,
			mdiDelete,
			mdiContentCopy
		},
		dialog: false,
		dialog1: false
	}),

	mounted() {
		this.$store.dispatch('loadProject');
	},
	methods: {
		remove: function (index) {
			this.$delete(this.project, index);
			window.localStorage.setItem('taskList', JSON.stringify(this.project));
			this.$store.dispatch('loadProject');
		},
		duplicate(item) {
			const user = JSON.parse(window.localStorage.getItem('@user'));

			const pushTaskToList = JSON.parse(
				window.localStorage.getItem('taskList')
			);

			pushTaskToList.push({
				taskName: item.taskName.includes('Copy from')
					? item.taskName
					: `Copy from ${item.taskName}`,
				taskDescription: item.taskDescription,
				id: Math.floor(Math.random() * 100),
				userID: user?.id
			});

			console.log('pushTaskToList:', pushTaskToList);
			window.localStorage.setItem('taskList', JSON.stringify(pushTaskToList));
			this.$store.dispatch('loadProject');
		}

		// submit() {
		// 	Object.keys(this.form).forEach((f) => {
		// 		if (!this.form[f]) this.formHasErrors = true;
		// 		this.$refs[f].validate(true);
		// 	});
		// 	console.log(this.project);
		// 	console.log(this.projectDes);
		// 	const listTask =
		// 		window.localStorage.getItem('taskList') === null
		// 			? taskList
		// 			: JSON.parse(window.localStorage.getItem('taskList'));
		// 	const result = listTask.find(
		// 		({ taskName }) => taskName === this.project.trim()
		// 	);
		// 	if (result !== undefined) {
		// 		return (this.errorMess = 'Project Name is Existed');
		// 	} else {
		// 		window.localStorage.setItem(
		// 			'taskList',
		// 			JSON.stringify({
		// 				taskName: this.project,
		// 				taskDescription: this.projectDes,
		// 				id: Math.random(),
		// 				userID: user.id
		// 			})
		// 		);
		// 	}
		// }
	}
};
</script>
<style>
.head-project {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	height: 50px;
	border-bottom: 1px solid rgb(201, 200, 200);
}
.head-title {
	font-weight: 500;
}
.main-project {
	margin-top: 10px;
	margin-right: 20px;
	width: 246px;
	height: 140px;
}
.project-block-name {
	width: 100%;
	height: 50px;
	background: #eeeeee;
	display: flex;
	justify-content: space-between;
}
.project-block-name div {
	margin-left: 20px;
	font-weight: 500;
	font-size: 14px;
	padding-top: 10px;
}
.project-des {
	margin-left: 20px;
	font-weight: 370;
	font-size: 14px;
	padding-top: 10px;
}
.btn-text {
	text-decoration: none;
	color: #505050 !important;
	cursor: pointer;
	height: 0;
}
.name {
	font-weight: 500;
	padding: 0 10px;
	cursor: pointer;
}
.btn-addproject {
	text-align: right;
	margin-right: 20px;
	margin-top: 20px;
}
.btn-cancel {
	margin-right: 10px;
}
.main {
	margin-top: 30px;
}
.text-error {
	color: red;
	opacity: 0.8;
}

.btn-delete {
	opacity: 0.8;
	position: relative;
	right: -200px;
	cursor: pointer;
}
.btn-duplicate {
	opacity: 0.8;
	cursor: pointer;
	margin-right: 20px;
}
</style>
