<template>
	<v-app class="footer-container">
		<v-content class="footer">
			<img class="footer-img" src="../../assets/ava-footer.png" />
			<br />
			<span class="footer-text">Copyright ©2020 Insight Technology Inc.</span>
		</v-content>
	</v-app>
</template>

<script>
export default {
	name: 'Footer'
};
</script>

<style>
.footer-container {
	height: 200px;
	overflow: hidden;
}
.footer {
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.footer-img {
	width: 180px;
	height: 60px;
}
.footer-text {
	color: black;
	opacity: 0.4;
	font-style: italic;
	font-size: 16px;
}
</style>
