<template>
	<v-card color="grey lighten-4" class="d-flex justify-space-between mb-6">
		<v-toolbar>
			<router-link to="/">
				<v-img
					lazy-src="https://picsum.photos/id/11/10/6"
					max-height="40"
					max-width="40"
					src="../../assets/ava-header.png"
				></v-img>
			</router-link>
			<v-toolbar-title class="header-name hidden-xs-only">
				INSIGHT DATA MASKING</v-toolbar-title
			>

			<v-spacer></v-spacer>

			<v-toolbar-items>
				<v-tabs align-with-title>
					<v-tab v-for="tab of tabs" :key="tab.id" :to="tab.route" exact>
						{{ tab.name }}
					</v-tab>
					<v-tab-item v-for="tab of tabs" :key="tab.id" :value="tab.route">
						<router-view></router-view>
					</v-tab-item>
				</v-tabs>
			</v-toolbar-items>
			<v-img
				max-height="40"
				max-width="40"
				src="../../assets/flat.png"
				class="img-flat"
				align-stretch
			></v-img>
		</v-toolbar>
	</v-card>
</template>

<script>
export default {
	name: 'Header',
	data() {
		return {
			tabs: [
				{ id: 1, name: 'Login', route: `/login` },
				{ id: 2, name: 'Register', route: `/register` }
			]
		};
	}
};
</script>

<style>
.header-name {
	color: #505050;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
	margin-left: 10px;
}
.content {
	width: 100%;
}
.img-flat {
	margin-left: 10px;
}

.btn-text {
	text-decoration: none;
	color: #505050 !important;
	cursor: pointer;
	height: 0;
}
</style>
