<template>
	<v-app>
		<v-main>
			<router-view />
		</v-main>
	</v-app>
</template>

<script>
import { users } from './fakeData/user';
import { taskList } from './fakeData/task';

if (window.localStorage.getItem('users') === null || undefined) {
	window.localStorage.setItem('users', JSON.stringify(users));
}

if (window.localStorage.getItem('taskList') === null || undefined) {
	window.localStorage.setItem('taskList', JSON.stringify(taskList));
}

export default {
	name: 'App',

	data: () => ({})
};
</script>
