<template>
	<v-container class="fill-height" fluid>
		<v-row align="center" justify="center" dense>
			<v-col cols="12" sm="8" md="4" lg="4">
				<v-card class="mx-auto" max-width="500">
					<div class="container-text"><span>Register</span></div>
					<v-card-text>
						<v-form ref="form">
							<v-text-field
								label="User Name"
								class="rounded-0"
								ref="fullname"
								v-model="fullname"
								type="text"
								prepend-inner-icon="mdi-account"
								clearable
								:error-messages="name"
								:rules="[() => !!fullname || 'This field is required']"
							></v-text-field>
							<v-text-field
								label="Email"
								ref="email"
								v-model="email"
								:rules="[() => !!email || 'This field is required']"
								prepend-inner-icon="mdi-email"
								type="email"
								:error-messages="name"
								class="rounded-0"
								clearable
							></v-text-field>
							<v-text-field
								:append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
								:type="show3 ? 'text' : 'password'"
								@click:append="show3 = !show3"
								ref="password"
								v-model="password"
								:rules="[() => !!password || 'This field is required']"
								label="Password"
								name="password"
								prepend-inner-icon="mdi-lock"
								:error-messages="name"
								class="rounded-0"
								clearable
							></v-text-field>
							<v-text-field
								prepend-inner-icon="mdi-lock-open"
								:append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
								:type="show3 ? 'text' : 'password'"
								@click:append="show3 = !show3"
								ref="confirmPassword"
								v-model="confirmPassword"
								:rules="[() => !!confirmPassword || 'This field is required']"
								label="Confirm Password"
								name="confirmPassword"
								:error-messages="name"
								class="rounded-0"
								clearable
							></v-text-field>
							<p class="text-error">{{ messageError }}</p>
							<div class="btn-register">
								<v-btn depressed color="primary" right @click="submit"
									>Register</v-btn
								>
							</div>
						</v-form>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
import { users } from '../../fakeData/user';
console.log(users);

export default {
	name: 'Register',
	data() {
		return {
			show1: false,
			show2: true,
			show3: false,
			show4: false,
			password: null,
			messageError: ''
		};
	},
	computed: {
		form() {
			return {
				email: this.email,
				password: this.password,
				fullname: this.fullname,
				confirmPassword: this.confirmPassword
			};
		}
	},
	methods: {
		submit() {
			Object.keys(this.form).forEach((f) => {
				if (!this.form[f]) this.formHasErrors = true;

				this.$refs[f].validate(true);
			});

			console.log(this.email);
			console.log(this.password);
			console.log(this.fullname);
			console.log(this.confirmPassword);

			const listUser =
				window.localStorage.getItem('users') === null
					? users
					: JSON.parse(window.localStorage.getItem('users'));
			const result = listUser.find(({ email }) => email === this.email.trim());
			if (result !== undefined) {
				return (this.messageError = 'Email is existed');
			} else if (this.password !== this.confirmPassword) {
				return (this.messageError = 'Confirm Password is Wrong');
			} else {
				window.localStorage.setItem('isLoggedIn', true);
				window.localStorage.setItem(
					'@user',
					JSON.stringify({
						id: Math.random(),
						fullName: this.fullname,
						email: this.email,
						passWord: this.password
					})
				);

				const userData = JSON.parse(window.localStorage.getItem('users'));
				//window.localStorage.remove('users');
				const newUser = {
					fullName: this.fullname,
					email: this.email,
					passWord: this.password,
					id: Math.random
				};

				userData.push(newUser);
				console.log('userData:', userData);
				window.localStorage.setItem('users', JSON.stringify(userData));

				this.$router.push({ path: '/' });
			}
		}
	}
};
</script>

<style lang="css" scoped>
.v-card--reveal {
	bottom: 0;
	opacity: 1 !important;
	position: absolute;
	width: 100%;
}
.container-text {
	width: 100%;
	background: whitesmoke;
	display: block;
	padding: 10px 0;
}
.container-text span {
	color: #000;
	font-size: 22px;
	line-height: 1.4;
	margin-left: 20px;
}
.btn-register {
	margin-top: 50px;
	text-align: right;
}
.text-error {
	color: red;
	opacity: 0.8;
}
</style>
